/* unvisited link */
a:link {
    color: rgb(255, 214, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 214, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 214, 0);
  }