<div class="row">
    <div class="ui three column grid"></div>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <h1 class="header-text">
                <typing [word]="title" [speed]="speed" [id]="title"></typing>
            </h1>
        </div>
        <div class="column"></div>
    </div>

</div>

<!-- <div class="ui grid" style="overflow-y:auto;white-space:nowrap;">
    <div class="content"></div>
    <div class="content" *ngFor="let project of projects">
        <project [project]="project"></project>
    </div>
  </div> -->
<div class="row">
    <div class="ui three column grid">
        <div class="row" *ngFor="let project of projects">
            <div class="column">
                <p></p>
            </div>
            <div class="column">
                <project [project]="project"></project>
            </div>
            <div class="column">
                <p></p>
            </div>
        </div>
    </div>
</div>