<div class="row">
    <div class="ui four column grid">
        <div class="four wide column"></div>
        <div class="four wide column">
            <h1 class="header-text">
                <typing [word]="title" [speed]="speed" [id]="title"></typing>
            </h1>
        </div>
        <div class="four wide column"></div>
    </div>
</div>
<div class="row">
    <div class="ui four column grid">
        <div class="column">
            <div class="ui segment">
                <img>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <img>
            </div>
        </div>
    </div>
</div>