<div class="ui one column grid">
  <div class="row sixteen wide column">
    <div class="column">
      <h1 class="header-text" style="margin-bottom: 50px;">
        {{title}}
      </h1>
    </div>
  </div>
</div>

<div *ngIf="!ready1 || !ready2">
  <div class="ui active dimmer">
    <div class="ui indeterminate text loader">Loading Résumé details</div>
  </div>
  <p></p>
</div>
<p class="normal-text left-align">Experience:</p>
<div class="ui divided items">
  <div class="column"></div>
  <experience class="full-width" *ngFor="let xp of experience" [experience]="xp"></experience>
</div>

<p class="normal-text left-align">Education:</p>
<div class="ui divided items">
  <education class="full-width" *ngFor="let education of educationDegrees" [education]="education"></education>
</div>
