/* You can add global styles to this file, and also import other style files */

@import "./assets/vendor/semantic.min.css";

html,
body {
  font-family: "Raleway", sans-serif !important;
  font-size: 25px;
  background: #000000;
  color: #aaa;
  overflow: auto;
  margin: 0px;
}

.background {
  background-color: #000000;
  overflow: auto;
}

.header-text {
  font-family: "Raleway", sans-serif !important;
  color: #cccccc;
  margin-bottom: 5px;
  font-size: 3.5em;
  display: flex;
}

.normal-text {
  font-family: "Raleway", sans-serif !important;
  text-align: center;
  font-size: 1.3em;
  display: flex;
}

.my-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

h1,
h2 {
  font-weight: 200;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #888;
  font-size: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

li {
  display: inline;
}

li:hover {
  color: rgb(255, 204, 0);
}

.nav-bar {
  padding: 20px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.oblique {
  font-style: italic !important;
}

span {
  border-right: 3px solid;
  animation: caret 1s steps(1) infinite;
  font-size: 80%;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  padding: 0;
  border-radius: 5px;
  margin: 10px;
}

.project {
  min-height: 290px;
  height: 290px;
}


.pad {
  padding: 10px;

}

.full-width {
  width: 100%;
}
