<div class="item" style="width: 100%; display: inline-block;padding-bottom: 20px;">
  <div class="ui small image left floated">
    <img src="{{experience.logoUrl}}">
  </div>
  <div class="content">
    <div class="header left-align" style="font-size: 1.1em;"><p style="display: inline-block;">{{experience.position}}</p></div>
    <div class="meta left-align" style=" font-size: 0.9em;">
      <p>{{experience.companyName}}</p>
    </div>
    <div class="description left-align" style=" font-size: 0.7em; display: flow-root;">
      <div class="ui inverted">
        <div class="ui inverted list">
          <div class="item">
            <div class="content">
              {{this.getPeriodOfTime()}}
            </div>
          </div>
        </div>
      </div>
      <ul class="ui list left-align">
        <li *ngFor="let bullet of experience.bulletDetails">{{bullet}}</li>
      </ul>
    </div>
  </div>
</div>
